<html>
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1 class="text-center">Active crons</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Command</th>
					<th>Status</th>
					<th>Started</th>
					<th>Duration</th>
					<th>Unique ID (Hash)</th>
					<th>Error</th>
				</tr>
			</thead>
			<tbody
				{{range .}}
				<tr>
					<td>{{.Command}}</td>
					<td>{{.Status}}</td>
					<td>{{.Started}}</td>
					<td>{{.Duration}} seconds</td>
					<td>{{.Hash}}</td>
					<td>{{.Error}}</td>
				</tr>
				{{end}}
			</tbody>
		</table>
	</div>
</body>
</html>
